<html>
<head>
	<title>EULobbies</title>
	<link rel="stylesheet" href="/static/css/base.css"/>
</head>
<body>

<div id="logo">
	EU Lobbies
	<div id="tagline">Who's watching the lawmakers?</div>
</div>

<div id="menu">
	<a href="/lobby/list/">Lobby groups</a>
	<a href="/lobbyist/list/">Lobbyists</a>
	<a href="/access/list/">Access cards</a>
	<a href="/lobbyist/revolver/">Revolving doors</a>
	<a href="/access/list/">Subject matter</a>
	<a href="/access/list/">Statistics</a>
</div>

<div id="content">
{% block content %}

{% endblock %}
</div>

</body>
</html>
